$blue: #00a4e4;
$yellow: #ffdd00;
$darkYellow: #fbb034;
$brown: #8a7967;
$red: #ff4c4c;
$green: #34bf49;
$black: #24292e;
$white: #fff;
$gray: #d7d7d8;


$baseFontSize: 16px;
$baseFontFamily: "Montserrat", sans-serif;