<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/_head-common") %>
    
    <!-- metadata information -->
    <meta name="description" content="Little practice with express and ejs" />
    <meta name="keywords" content="express & ejs (template engine practice), ejs template engine, expressjs" />

    <!-- title -->
    <title>Home</title>
  </head>
  <body>
    <div class="container" id="app">
      <%- include("../partials/_header") %>
      <main class="main">
        <section class="section">
          <h2 class="sectionTitle">Welcome</h2>
        </section>
      </main>
      <%- include("../partials/_footer") %>
    </div>
    <!-- scripts -->
  </body>
</html>
