<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../../partials/_head-common") %>
    
    <!-- metadata information -->
    <meta name="description" content="page was not found" />
    <meta name="keywords" content="not found" />

    <!-- title -->
    <title>Home</title>
  </head>
  <body>
    <div class="container" id="app">
      <%- include("../../partials/_header") %>
      <main class="main">
        <section class="section">
          <p class="mediumText centeredText marginTopMedium">The page you are looking for was not found</p>
          <p class="bigText centeredText marginTopMedium">404</p>
        </section>
      </main>
      <%- include("../../partials/_footer") %>
    </div>
    <!-- scripts -->
  </body>
</html>
