<nav class="navigation">
  <a class="navigationLink" href="/">Home</a>
  <a class="navigationLink" href="/login">Login</a>
  <a class="navigationLink" href="/signup">Signup</a>
  <a class="navigationLink" href="/about">About</a>
</nav>